.Test, .logo-content {
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tip {
  font-size: 14px;
  color: #ccc;
  margin: 0 0 15px;
  display: block;
}

.logo-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.logo-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


/* 设置图片的初始位置 */
.logo-box {
  position: absolute;
  z-index: 999;
  animation: moveAndResize 2s forwards ease-out;
}
.logo-img {
  width: 40vmin;
  pointer-events: none;
}

/* 定义动画 */
@keyframes moveAndResize {
  0% {
    z-index: 9;
    transform: scale(1.8) rotate(0deg);
  }
  65% {
    z-index: 0;
    transform: scale(2.5);
  }
  100% {
    z-index: 0;
    transform: scale(0) rotate(360deg);
  }
}

.btn-content {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-grow: 10px;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}

.btn-content > * {
  margin-bottom: 15px
}

.btn {
  padding: 7px 14px;
  background-color: #056350;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin: 5px 10px 10px 0;
}

h3 {
  margin: 0 0 5px;
}